# Logs
logs
*.log
pnpm-debug.log*

# Dependencies
node_modules
.pnpm-store

# Build
dist
build
coverage
*.tsbuildinfo

# Environment
.env
.env.*
!.env.example

# Prisma
**/generated
**/prisma/generated

# Cache
.turbo
.nx
.cache
.vite

# IDE
.idea
.vscode/*
!.vscode/extensions.json
.DS_Store